footer {
    background-color: var(--border);
    margin: auto -2rem 0;
    color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    width: calc(100% + 4rem);

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center;

        li a {
            color: white;
            text-decoration: none;
        }
    }
}