:root {
    --bg-color: #E6E6E6;
    --primary: #297373;
    --secondary: #FF8552;
    --border: #39393A;
    --text: #141204;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

body {
    background-color: var(--bg-color);
    color: var(--primary)
}

img {
    width: 100%;
}

main {
    margin: 0 2rem;
}