h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

span.MuiListItemText-primary {
    color: var(--primary);
    font-weight: bold;
}

p.MuiListItemText-secondary {
    color: var(--text)
}