:root {
  --bg-color: #E6E6E6;
  --primary: #1976D2;
  --secondary: #FF8552;
  --border: #39393A;
  --text: #141204;
  font-size: 16px;
  font-family: monospace;
}

:root.light {
  --bg-color: #E6E6E6;
  --primary: #1976D2;
  --secondary: #FF8552;
  --border: #39393A;
  --text: #141204;
}

:root.dark {
  --bg-color: #121212;
  --primary: #386dff;
  --secondary: #ff6347;
  --border: #303030;
  --text: #f2f2f2;
  --white: #303030;
}

:root.contrast {
  --bg-color: #000;
  --primary: #fff;
  --secondary: #ff0000;
  --border: #000;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

body {
  background-color: var(--bg-color);
  color: var(--primary);
}

img {
  width: 100%;
}

main {
  margin: 0 2rem;
  height: 100vh;
}

section {
  margin: 2rem;
}

footer {
  background-color: var(--border);
  margin: auto -2rem 0;
  color: white;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  width: calc(100% + 4rem);
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

header {
  border-bottom: 10px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0 -2rem;
}
header img {
  margin: 10%;
  height: 80%;
  width: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
  height: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: var(--secondary);
  font-size: 1.3rem;
  text-decoration: underline;
}

.preferences {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  position: fixed;
  right: 0;
  top: 40%;
  margin: 0;
  padding: 0;
  z-index: 5;
  list-style: none;
}
.preferences .preference__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--border);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  color: var(--text);
}
.preferences .preference__button:hover {
  background-color: var(--primary);
}
.preferences .preference__button:active {
  width: 2.5rem;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

span.MuiListItemText-primary {
  color: var(--primary);
  font-weight: bold;
}

p.MuiListItemText-secondary {
  color: var(--text);
}

.fill-height {
  height: 80vh;
}

.news-abstract {
  font-size: 1.2rem;
}

.news-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin: 0.5rem 0 2rem;
  color: var(--text);
}

.news-body {
  color: var(--text);
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.MuiChip-outlinedDefault {
  border: 1px solid var(--primary) !important;
  padding: 0.5rem 0 0.5rem 0.5rem !important;
}

.MuiChip-label,
.MuiChip-icon {
  color: var(--primary) !important;
}

/*# sourceMappingURL=styles.css.map */
